body {
    background-color: #1A1A2E;
}
a, a:hover {
    text-decoration: none;
}
.add {
    width: 110px;
    margin-top: 30px;
    background-color: #A6DCEF;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
.add:hover {
    background-color: #0F3460;
}
.delete:hover {
    background-color: #E94560;
}
.tabel {
    overflow: auto;
    margin-top: 50px;
}
.tabel table, .tabel th, .tabel td {
    border: solid #1A1A2E;
    padding: 15px;
}
.tabel table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #4ECCA3;
}
.tabel th {
    background-color: #086972;
    color: #1A1A2E;
    text-align: center;
    font-size: 20px;
}
.tabel td {
    font-size: 15px;
    color: #1A1A2E;
}
.tabel td:hover {
    background-color: aquamarine;
}
.tabel tr:nth-child(even) {
    background-color: #17B978;
}
.tengah {
    text-align: center;
}
.tabel .blank {
    background-color: #1A1A2E;
}
.tabel .blank:hover {
    background-color: #1A1A2E;
}
.form {
    background-color: #086972;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
}
label {
    color: #A6DCEF;
    font-size: 20px;
}
.row {
    margin: 10px;
}
.input {
    width: 100%;
    border-radius: 10px;
}
.submit {
    border: none;
    background-color: #17B978;
    padding: 5px;
    border-radius: 10px;
}
.submit:hover {
    background-color: #4ECCA3;
}