body {
    background-color: #1A1A2E;
}
a, a:hover {
    text-decoration: none;
}
.awal, .aboutme {
    margin-top: 50px;
}
.self {
    width: 200px;
    height: 300px;
}
.source {
    color: #A6DCEF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.source:hover {
    color: #0F3460;
    text-decoration: none;
}
.hello {
    margin-top: 40px;
    font-size: 35px;
    color: #A6DCEF;
}
.welcome {
    margin-left: 50px;
    color: #A6DCEF;
    margin-top: 5px;
    font-size: 25px;
}
.background {
    background-color: #16213E;
}
.edu, .contact {
    text-align: center;
    margin-top: 200px;
    color: #000000;
    font-size: 40px;
}
.classpic, .UIpic {
    margin-top: 16px;
    height: 160px;
}
.classpic {
    width: 120px;
}
.UIpic {
    width: 160px;
}
.class, .place {
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
}
.contact {
    margin-bottom: auto;
}
.excontact {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.line, .whatsapp, .linkedin {
    width: 50px;
    height: 50px;
}
.line, .whatsapp {
    margin-right: 20px;
}
.aboutme {
    text-align: center;
    color: #A6DCEF;
    font-size: 45px;
}
.text {
    color: #A6DCEF;
    font-size: 35px;
}
.project, .organization {
    margin-left: 15px;
    margin-top: 150px;
    font-size: 50px;
    color: #A6DCEF;
}
.airbuspic {
    width: 200px;
    height: 200px;
}
.judul{
    color: #A6DCEF;
    font-size: 35px;
}
.isi {
    color: #A6DCEF;
    font-size: 25px;
}
.margin {
    margin-top: 15px;
    margin-bottom: 15px;
}
.organization {
    margin-top: 50px;
}
.pic {
    width: 200px;
    height: 200px;
}