{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <title>About Me</title>
    </head>

    <body>
        <h1 class="aboutme">About Me</h1>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text">
                    <article>I’m a college student of Computer Science at University of Indonesia. I’m a man of focus, commitment, and sheer will</article>
                    <article>Just contact me if you want to know more about me</article>
                    <article>Peace, love, and gaul ;)</article>
                </div>
            </div>
        </div>
        
        <h1 class="project">Project</h1>
        <br>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center background">
                <div class="col-lg-3 margin">
                    <img class="airbuspic" src="https://profile.line-scdn.net/0m0e49d2db725190e555d410aa11cdb98a2971c06c40f7/preview" alt="Airbus">
                </div>
                <div class="col-lg-9 margin">
                    <p class="judul">Airbus</p>
                    <p class="isi">Airbus is a service start-up that provides rental for school needs such as school hats, school ties, lab coats, print your schoolwork, and many more.
                    Unfortunately this start-up just available on my high school only.</p>
                </div>
            </div>
        </div>
        <br>
        <br>

    </body>
</html>