{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <title>Homepage</title>
    </head>
    
    <body>
        <div class="container awal">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                    <img class="self center-block" src="https://maung.id/static/3218f16a5414379bac2e0ca2bc5b348b/9f583/KR09.jpg" alt="Aryuda O.">
                    <br>
                    <a class="source" href="https://maung.id/aryuda.oktawyandra" target="_blank">Source</a>
                </div>
                <div class="col-md-8">
                    <h2 class="hello">Hello People</h2>
                    <article class="welcome">My name is Yuda, and welcome to my web</article>
                    <article class="welcome">Please don’t leave your seat, and make sure to fasten your seat belt</article>
                    <article class="welcome">Enjoy your time :)</article>
                </div>                
            </div>      
        </div>

        <h1 class="edu">Education Background</h1>
        <br>

        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-3 background">
                    <h3 class="class">Junior High School</h3>
                    <img class="classpic center-block" src="https://4.bp.blogspot.com/-o6pJdteu8C4/UOA_-7Q6PWI/AAAAAAAAJc8/9dj8WgFLCy0/s1600/LOGO+OSIS+SMP.png" alt="Logo SMP">
                    <h4 class="place">SMPN 91 Jakarta</h4>
                </div>
                <div class="col-md-3 offset-sm-1 background">
                    <h3 class="class">Senior High School</h3>
                    <img class="classpic center-block" src="https://1.bp.blogspot.com/-k1X-FZql9z4/UOA_sQfMy2I/AAAAAAAAJc0/OibdJLa5tAU/s1600/LOGO+OSIS+SMA.png" alt="Logo SMA">
                    <h4 class="place">SMAN 39 Jakarta</h4>
                </div>
                <div class="col-md-3 offset-sm-1 background">
                    <h3 class="class">College University</h3>
                    <img class="UIpic center-block" src="https://upload.wikimedia.org/wikipedia/id/thumb/9/95/Makara_UI.png/1200px-Makara_UI.png" alt="Logo UI">
                    <h4 class="place">University of Indonesia</h4>
                </div>
            </div>
        </div>

        <h1 class="contact">Contact Me</h1>
        <table class="excontact">
            <th>
                <td>
                    <a href="https://line.me/R/ti/p/aryuda145" target="_blank">
                        <img class="line" src="{% static 'Images/line.png' %}" alt="Line">
                    </a>
                    <a href="https://wa.me/+6281212945027" target="_blank">
                        <img class="whatsapp" src="{% static 'Images/whatsapp.png' %}" alt="Whatsapp">
                    </a>
                    <a href="https://id.linkedin.com/in/aryuda-oktawyandra-2703bb195" target="_blank">
                        <img class="linkedin" src="{% static 'Images/linkedin.png' %}" alt="LinkedIn">
                    </a>
                </td>
            </th>
        </table>
        <br>

    </body>

</html>