{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'jadwal.css' %}">
        <title>Isi jadwal</title>
    </head>

    <body>
        <div class="container-xl form">
            <form action="{% url 'PPW:savejadwal' %}" method="POST">
                {% csrf_token %}

                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="nama_matkul">Course</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="input" type="text" id="nama_matkul" name="nama_matkul" placeholder="Ex: Calculus 3" required>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="dosen_pengajar">Lecturer</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="input" type="text" id="dosen_pengajar" name="dosen_pengajar" placeholder="Ex: Aryuda Oktawyandra" required>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="jumlah_sks">Number of Credits</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="input" type="text" id="jumlah_sks" name="jumlah_sks" placeholder="Ex: 4" required>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="deskripsi">Description</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="input" type="text" id="deskripsi" name="deskripsi" placeholder="Ex: Easy peasy" required>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="semester">Semester</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="input" type="text" id="semester" name="semester" placeholder="Ex: Genap 2019/2020" required>
                    </div>
                </div>

                <div class="row text-right justify-content-center">
                    <div class="col-sm-12">
                        <input class="submit" type="submit" value="Submit">
                    </div>
                </div>
            
            </form>
        </div>

    </body>

</html>