{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'jadwal.css' %}">
        <title>Jadwal</title>
    </head>

    <body>
        <div class="tabel">
            <table>
                <tr>
                    <th>Courses</th>
                    <th>Lecturer</th>
                    <th>Number of Credits</th>
                    <th>Description</th>
                    <th>Semester</th>
                    <th class="blank"></th>
                </tr>
                {% if show %}
                    {% for list in show %}
                        <tr>
                            <td>{{ list.nama_matkul }}</td>
                            <td>{{ list.dosen_pengajar }}</td>
                            <td class="tengah">{{ list.jumlah_sks }}</td>
                            <td>{{ list.deskripsi }}</td>
                            <td class="tengah">{{ list.semester }}</td>
                            <td class="blank">
                                <a type="button" class="btn btn-outline-danger" href="{% url 'PPW:hapus' list.pk %}" onclick="return confirm('U sure bro?');">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-2">
                    <a href="{% url 'PPW:isi' %}">
                        <button type="button" class="add">Add yours</button>
                    </a>
                </div>
            </div>
        </div>
    
    </body>

</html>