{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <title>Organization</title>
    </head>

    <body>
        <h1 class="organization">Organization Experience</h1>
        <br>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center background">
                <div class="col-lg-3 margin">
                    <img class="pic" src="https://pbs.twimg.com/profile_images/1237361109960552449/ssdSXeSS_400x400.jpg" alt="Compfest">
                </div>
                <div class="col-lg-9 margin">
                    <p class="judul">COMPFEST</p>
                    <p class="isi">COMPFEST is an annual one-stop IT event run by students of the Faculty of Computer Science, University of Indonesia.</p>
                </div>
            </div>
        </div>

        <br>

        <div class="container-fluid">
            <div class="row justify-content-center align-items-center background">
                <div class="col-lg-3 margin">
                    <img class="pic" src="https://pbs.twimg.com/profile_images/1208613351615418369/tRyrgKyl_400x400.jpg" alt="PERAK">
                </div>
                <div class="col-lg-9 margin">
                    <p class="judul">PERAK</p>
                    <p class="isi">PERAK is the biggest internal event at Faculty of Computer Science, University of Indonesia which aims to maintain a sense of kinship between elements</p>
                </div>
            </div>
        </div>

        <br><br>
        
    </body>
</html>