{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Story 1 PPW</title>

        <style>
            body {
                background-color: #e8e8e8;
            }
            h1 {
                text-align: center;
            }
            .head {
                font-size: 50px;
                color: darkcyan;
            }
            .self {
                float: left;
                width: 203px;
                height: 305px;
            }
            .biodata table {
                float: right;
                height: 300px;
                font-size: 25px;
                color: maroon;
            }
            .riwayat table, .riwayat th, .riwayat td {
                border: 2px solid darkslategray;
            }
            .riwayat table {
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                border-collapse: collapse;
                width: 500px;
            }
            .riwayat th, .riwayat td {
                padding: 10px;
                color: white;
                background-color: #07070a;
            }
            .riwayat th {
                color: palevioletred
            }
            .riwayat th:hover, .riwayat td:hover {
                background-color: gray;
            }
            .line {
                float: left;
                width: 50px;
                height: 50px;
            }
            .whatsapp {
                float: right;
                width: 50px;
                height: 50px;
            }
            .awal {
                margin-left: auto;
                margin-right: auto;
                width: 60%;
            }
            .contact {
                margin-left: auto;
                margin-right: auto;
                width: 12%;
            }
            .spasi {
                padding-left: 30px;
            }   
        </style>
    </head>

    <body>
        <h1 class="head">Informasi Data Diri</h1>
        <br>
        <table class="awal">
            <tr>
                <td>
                    <img class="self" src="https://maung.id/static/3218f16a5414379bac2e0ca2bc5b348b/9f583/KR09.jpg" alt="Aryuda O.">
                    <div class="biodata">
                        <table>
                            <tr>
                                <td>Nama</td>
                                <td class="spasi">: Aryuda Oktawyandra</td>
                            </tr>
                            <tr>
                                <td>NPM</td>
                                <td class="spasi">: 1906307542</td>
                            </tr>
                            <tr>
                                <td>Angkatan</td>
                                <td class="spasi">: 2019</td>
                            </tr>
                            <tr>
                                <td>Tempat Kuliah</td>
                                <td class="spasi">: Universitas Indonesia</td>
                            </tr>
                            <tr>
                                <td>Hobi</td>
                                <td class="spasi">: Semangatin orang lain</td>
                            </tr>
                            <tr>
                                <td>Deskripsi Diri</td>
                                <td class="spasi">: Anak ke-2 dari dua bersaudara</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <div class="riwayat">
            <table>
                <tr style="text-align: center; font-size: 20px;">
                    <th>Jenjang Pendidikan</th>
                    <th>Tahun</th>
                </tr>
                <tr>
                    <td>SDN Pekayon 15 Pagi</td>
                    <td style="text-align: center;">2007 - 2013</td>
                </tr>
                <tr>
                    <td>SMPN 91 Jakarta</td>
                    <td style="text-align: center;">2013 - 2016</td>
                </tr>
                <tr>
                    <td>SMAN 39 Jakarta</td>
                    <td style="text-align: center;">2016 - 2019</td>
                </tr>
                <tr>
                    <td>Universitas Indonesia</td>
                    <td style="text-align: center;">2019 - Sekarang</td>
                </tr>
            </table>
        </div>
        <br>

    </body>
</html>